@import url('https://fonts.googleapis.com/css?family=Roboto');

@import 'global';
@import 'waypoints';

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

//NAVBAR

nav{
    position: absolute;
    width: 100%;
    ul{
        display: grid;
        grid-template-columns: 1fr 50vw 1fr 1fr 1fr 1fr;
        grid-template-areas: '. . about services contact .';
        justify-content: center;
        align-items: center;
        text-align: center;

        li{
            padding: 20px;

            &.nav-aboutme{
                grid-area: about;
            }
            &.nav-services{
                grid-area: services;
            }
            &.nav-contact{
                grid-area: contact;
            }
        }
    }
}

//Title

#title{
    grid-template-columns: 12.5vw 25vw 62.5vw;
    grid-template-rows: auto 40vh auto;
    grid-template-areas: 
    ". . ."
    ". title ."
    ". . .";
    #title-content{
        grid-area: title;
        .title-maintext{
            font-size: 5rem;
        }

        .title-secondarytext{
            font-size: 1.5rem;
        }
    }
}

//Background

#background{
    height: 100vh;
}


//main

main{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vh 100vh;
    grid-template-areas:
    ". about"
    "services .";
    align-items: stretch;

    #about-content{
        grid-area: about;
    }

    #services-content{
        grid-area: services;
    }
}

//emailform

.contact{
    height: 100vh;
    display: grid;
    grid-template-columns: 62.5vw 25vw 12.5vw;
    grid-template-rows: auto 40vh auto;
    grid-template-areas: 
    ". . ."
    ". contact ."
    ". . .";

    form{
        grid-area: contact;
    }
}

